<h1>All Flights:</h1>


<% @flights.each do |flight| %>
<section id="flights-<%= flight.id %>">
  <ul>
    <li>  <%= flight.number %> </li>
      <ul>
        <li>  <%= flight.airline.name %> </li>
            <% flight.passengers.each do |passenger| %>
            <section id="passenger-<%= passenger.id %>">
          <ul>
            <li> <%= passenger.name %> <%= button_to 'Remove Passenger', "/flights/#{flight.id}/passengers/#{passenger.id}", method: :delete %></li>
          </ul>
          </section>
          <% end %>
      </ul>
</section>
<% end %>
